@tailwind base;
@tailwind components;
@tailwind utilities;

:root {


}



body {
  color: #fff;
  background-color: #fafafa;
}

.inicial-screen {
  display: flex;
  height: 100vh;
  background-color: #FF7A00;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
